%section.about
  = image_tag 'lady-head.png'

  %p Aubrey Nolan is a visual artist specializing in watercolor-and-ink illustrations and comics of commonplace, yet whimsical, scenes. She graduated from SUNY New Paltz with a BFA in Painting + Drawing in 2012 and is based in Brooklyn.

  %p You can email her for freelance work or just to say hi at <a href='mailto:aubreygnolan@gmail.com' target='_blank'>aubreygnolan@gmail.com</a>.

  %p You can take a look at how put together she truly can be on <a href='https://www.linkedin.com/in/aubrey-nolan-26352966/?locale=en_US' target='_blank'>LinkedIn</a>.

  %p You can follow her <a href='https://www.instagram.com/itsaubreynotaudrey' target='_blank'>Instagram</a> for her most current work as well as snapshots of works in progress.

  %p You can take a look at the far-from-cohesive thought dump that is her <a href='https://twitter.com/aubrey_nolan' target='_blank'>Twitter</a>.
