.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(150,195,190, .6);
  opacity: 0;
  color: white;
  text-align: center;
  transition: opacity .3s ease-in-out;
  display: flex;
  align-items: center;
}

#overlays {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear .3s, opacity .3s;

    > * {
      transform: translateY(-2rem);
      transition: transform .3s;
    }

    &.-is-visible {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity .3s;

      > * {
        transform: translateY(0rem);
      }
    }

    .close-trigger {
      font-size: 5rem;
      padding: 3rem;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 1rem;
    }

    .slide-show-wrapper {
      width: 100%;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    .nav-arrow {
      font-size: 3rem;
      opacity: 1;
      padding: 2rem;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      transition: opacity .3s;

      &_left {
        left: 40px;
      }

      &_right {
        right: 40px;
      }

      &.slick-disabled {
        opacity: .2;
        pointer-events: none;
      }
    }

    .slide {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      font-size: 2rem;
      max-width: 500px;
      transition: transform .3s;
      transform: scale(.8);
      margin: 0 -5rem;
      z-index: 1;

      &:not(.text):after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: .4;
        transition: opacity .3s;
      }

      &.wide {
        min-width: 800px;
        max-width: 1200px;
      }

      &.slick-current {
        transform: scale(1);
        z-index: 5;

        &:after {
          opacity: 0;
        }
      }
    }

    .width-50 {
      width: 50%;
      flex: 1 1 50%;
      display: inline-block;
      padding: 2rem;
    }

    p {
      opacity: 1;
      font-size: 2rem;
      padding: 0;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
